#graph {
  position: relative;
}

.dropdownChart {
  position: absolute;
  top: 2px;
  left: 2px;
  vertical-align: top;
}

.dropdownChart {
  display: inline-block;
  overflow: hidden;
  height: 28px;
  width: 100px;
  background: #131212;
  border: 1px solid;
  border-color: white #f7f7f7 whitesmoke;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(
    top,
    transparent,
    rgba(0, 0, 0, 0.06)
  );
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: linear-gradient(
    to bottom,
    transparent,
    rgba(0, 0, 0, 0.06)
  );
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}

.dropdownChart:before,
.dropdownChart:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 9px;
  right: 10px;
  width: 0;
  height: 0;
  border: 4px dashed;
  border-color: #888888 transparent;
  pointer-events: none;
}

.dropdownChart:before {
  border-bottom-style: solid;
  border-top: none;
}

.dropdownChart:after {
  margin-top: 7px;
  border-top-style: solid;
  border-bottom: none;
}

.dropdownChart-select {
  position: relative;
  width: 130%;
  margin: 0;
  padding: 6px 8px 6px 10px;
  height: 28px;
  line-height: 14px;
  font-size: 12px;
  color: #fdfdfd;
  background: #f2f2f2; /* Fallback for IE 8 */
  background: rgba(
    0,
    0,
    0,
    0
  ) !important; /* "transparent" doesn't work with Opera */
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
}

.dropdownChart-select:focus {
  z-index: 3;
  width: 100%;
  color: #ffffff;
  outline: 2px solid #49aff2;
  outline: 2px solid -webkit-focus-ring-color;
  outline-offset: -2px;
}

.dropdownChart-select > option {
  margin: 3px;
  padding: 6px 8px;
  text-shadow: none;
  background: #5a5757;
  border-radius: 3px;
  cursor: pointer;
}

/* Fix for IE 8 putting the arrows behind the select element. */

.lt-ie9 .dropdownChart {
  z-index: 1;
}

.lt-ie9 .dropdownChart-select {
  z-index: -1;
}

.lt-ie9 .dropdownChart-select:focus {
  z-index: 3;
}

/* Dirty fix for Firefox adding padding where it shouldn't. */

@-moz-document url-prefix() {
  .dropdownChart-select {
    padding-left: 6px;
  }
}
