#chart {
  background-color: rgba(14, 13, 13, 0.863);
  width: 100% !important;
  height: 100% !important;
}
#wrapper-chart {
  width: 100% !important;
  height: calc(100% - 5rem) !important;
}
.graph {
  @include size(calc(100vw - 2rem), calc(50vh));
  @include flex(column, flex-end, center);
  position: relative;
  transition: $transition;
  margin-bottom: $margin;
  border: $border;
  text-align: center;
  font-size: $sizeTableFont;
  color: $colorTableTxt;
  background-color: $colorBlockBg;
  max-height: 75vh;

  @media (min-width: 630px) {
    @include size(calc(50vw - 1.7rem), calc(50vw - 2rem));
  }

  @media (min-width: 1000px) {
    order: 4;
    height: calc(35vh - 0.9rem);
    width: 61rem;
    position: absolute;
    bottom: 11rem;
    right: 1rem;
  }
}

.graph-controls {
  @include size(100%, 5rem);
  @include flex(row, center, center);
  border-top: $border;
  text-align: center;
  background-color: $colorBlockBg;
  color: $colorTableTxt;

  div {
    font-size: $sizeTableFont;
  }

  &--disabled {
    filter: brightness(30%);
    cursor: default !important;
  }
}

.graph-controls__left {
  @include size(7rem, 5rem);
  @include flex(column, center, center);
  cursor: pointer;

  img {
    @include size(3rem, 3rem);
    transform: rotate(180deg);
  }
}

.graph-controls__right {
  @include size(7rem, 5rem);
  @include flex(column, center, center);
  cursor: pointer;

  img {
    @include size(3rem, 3rem);
  }
}

.graph-controls__text {
  position: relative;
  @include size(100%, 100%);
  @include flex(row, center, center);
  line-height: 5rem;
  overflow: hidden;

  &--visible {
    left: 0;
  }

  &--first-property {
    transition: all 0.3s linear;
    position: absolute;
    @include size(100%, 100%);
  }

  &--second-property {
    transition: all 0.3s linear;
    position: absolute;
    @include size(100%, 100%);
  }

  &--third-property {
    transition: all 0.3s linear;
    position: absolute;
    @include size(100%, 100%);
  }
}
