/*--------------- stats block ----------------*/
.stats {
  @include size(31rem, 70rem);
  @include flex(column, center, center);
}

/*--------------- stats counter block ----------------*/
.stats__count {
  @include size(100%, 10rem);
  @include flex(column, center, center);
  text-align: center;
  background-color: $colorTableBg;
  color: $colorTableTxt;

  // title
  :first-child {
    font-size: $sizeCounterTitle;
  }

  // number
  &--cases {
    font-size: $sizeCounterNum;
    color: $colorTableCasesTxt;
  }

  &--deaths {
    font-size: $sizeCounterNum;
    color: $colorTableDeathsTxt;
  }

  &--recovered {
    font-size: $sizeCounterNum;
    color: $colorTableRecoveredTxt;
  }
}

/*--------------- stats table block ----------------*/
.stats__table {
  @include size(100%, 55.5rem);

  div {
    font-size: $sizeTableFont;
  }

  &--cases-column {
    color: $colorTableCasesTxt;
  }

  &--deaths-column {
    color: $colorTableDeathsTxt;
  }

  &--recovered-column {
    color: $colorTableRecoveredTxt;
  }
}

/*--------------- stats controls block ----------------*/
/*-- this block builded by js - setTableContriols.js --*/
.stats__controls {
  @include size(100%, 5rem);
  @include flex(row, center, center);
  text-align: center;
  background-color: $colorTableBg;
  color: $colorTableTxt;

  &--left {
    @include size(8rem, 5rem);
    @include flex(column, center, center);
    cursor: pointer;

    img {
      @include size(3rem, 3rem);
      transform: rotate(180deg);
    }
  }

  &--right {
    @include size(8rem, 5rem);
    @include flex(column, center, center);
    cursor: pointer;

    img {
      @include size(3rem, 3rem);
    }
  }

  &--disabled {
    filter: brightness(30%);
    cursor: default;
  }

  // block where first or second property shown
  &--text {
    position: relative;
    @include size(100%, 100%);
    @include flex(row, center, center);
    line-height: 5rem;
    overflow: hidden;
  }

  // first prop, visible by default
  &--first-property {
    transition: all 0.3s linear;
    position: absolute;
    left: 0;
    @include size(100%, 100%);
  }

  // second prop, hidden by default
  &--second-property {
    transition: all 0.3s linear;
    position: absolute;
    left: -100%;
    @include size(100%, 100%);
  }
}
