.footer {
  @include size(100%, 10rem);
  @include flex(row, space-between, center);
  background-color: $colorBlockBg;
  border: $border;
  padding: $padding;
  font-size: $sizeTableFont;
  color: $colorTableTxt;
}

.footer__rss-logo {
  filter: invert(1);
  height: 5rem;

  @media (max-width: 420px) {
    height: 3.5rem;
  }
}

.footer__created-by {
  @include flex(column, center, flex-start);
  line-height: 2.7rem;

  & a {
    cursor: pointer;
    text-decoration: underline;

    &:hover {
      color: #c4c4c4;
      transform: scale(1.02);
    }
  }

  @media (max-width: 420px) {
    font-size: 1.5rem;
    line-height: 1.95rem;
  }
}

.footer__rss-logo:hover {
  transform: scale(1.02);
}
