// colors
$colorBodyBg: #111;
$colorBlockBg: rgb(24, 29, 31);
$colorTableTxt: #fff;
$colorTableCasesTxt: yellow;
$colorTableDeathsTxt: red;
$colorTableRecoveredTxt: green;
$colorDropdownItem: rgb(34, 38, 40);
// font sizes
$sizeTableFont: 1.8rem;
$sizeCounterTitle: 2.1rem;
$sizeCounterNum: 3rem;
// general
$margin: 1rem;
$padding: 1rem;
$border: 0.1rem solid rgb(134, 134, 134);
$transition: all 0.3s linear;
